* {
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: 'Dosis', sans-serif;

}

/****** Header ******/


.video_container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-height: 500px;
}
.video_container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%;
    min-height: 100%;

    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;

    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.nav_container {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-bottom: 28vh;

}

@media screen and (max-device-width : 768px){
    .nav_container {
        margin-top: 5vw;
    }

}


.personal_logo {
    width: 300px;
    height: 300px;
}

@media screen and (max-device-width: 768px) {

    .personal_logo {
        margin-bottom: 12vw;
    }
}

.logo_img{
    max-width: 100%;
    height: 100%;
}

.nav_bar {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
    font-size: 2rem;
    width: 100%;

}
@media screen and (max-width: 600px) {
    .nav_bar {
        font-size: 5vw;
    }
}

.nav_link {
    color: #F75A5C;
    text-decoration: none;

}


/**** About me ****/

.about_me_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    position: relative;
    margin-bottom: 50px;
}

.profile_pic_box {
    width: 300px;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 120px;

}

.profile_img {

    border-radius: 5px 20px 5px ;
    max-width: 50%;
}

.about_me_header {
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 2rem;
    color: #F75A5C;
}

.about_me_paragraph {
    width: 50%;
    margin: auto;
    font-size: 1.25rem;
    padding-top: 10px;
    text-align: center;

}

@media screen and (max-width: 600px){
    .about_me_paragraph{
        width: 90%;
        margin: auto;
        font-size: 1rem;
    }
}

/*section break*/

.section_break{
    border-top-style: dotted;
    border-top-color: #F75A5C;
    width: 70%;
    margin: 0 auto;

}

/**** Portfolio ****/


.portfolio_container {
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    height: 500px;
    text-align: center;
    margin-top: 130px;
    position: relative;
}
@media screen and (max-width: 600px) {
    .portfolio_container {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 0 auto;
        padding-top: 100px;
    }
}
.projects_container {
    width: 30%;

}
@media screen and (max-width: 600px) {
    .projects_container{
        padding-bottom: 10px;
        width: 100%;

    }
}
.project_img {
    max-width: 100%;
    height: 150px;
    border: 2px solid #dddddd; /* Gray border */
    border-radius: 4px;
    padding: 5px;

}
.profile_img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.project_link {
    display: block;
    font-size: 1rem;
    text-decoration: none;
    color: #F75A5C;
}


/***** Contact Section *****/

.footer_container {
    background-color: #F75A5C;
    font-size: 1.25rem;
    overflow: auto;
    overflow-y: hidden;
    color: floralwhite;
}

@media screen and (max-width: 600px) {
    .footer_container{
        margin-top: 100px;
    }

}
.contact_container {
    display: inline-block;
    vertical-align: top;
    line-height: 1.4rem;
    padding: 50px 50px 50px 150px;
    width: 49%;
    margin: 0 auto;
}

@media screen and (max-width: 600px){
    .contact_container {
        width: 100%;
        padding: 30px;
    }
}
.contact_title {
    margin-bottom: 15px;
}
.email{
    color: floralwhite;
    text-decoration: none;
}

.follow_container {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    line-height: 1.4rem;
    padding: 50px 150px 50px 50px;
    width: 49%;
    margin: 0 auto;
    float:right;
}

@media screen and (max-width: 600px) {
    .follow_container {
        display:block;
        width: 100%;
        padding: 30px;
        float: left;
    }
}

.contact_list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 4vh;
}
@media screen and (max-width: 600px) {
    .contact_list {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        font-size: 4vh;
    }
}

.contact_list a {
    color: floralwhite;
    padding-bottom: 2px;

}

@media screen and (max-width: 600px) {
    .contact_list a {
        padding-right: 5px;
    }
}

.contact_list a:hover {
    color: aquamarine;
}



